<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
<title data-th-text="${LoggedInUser.name}">Profile Page</title>
</head>
<body>
    <div class="pl-64 pt-20" style="height: 1000px;" id="content">
        <h1 class="text-5xl" >Welcome to Profile Page</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam quasi eius quidem vitae fugit, facilis commodi aspernatur esse animi mollitia autem vel qui facere est voluptas quo unde nam!</p>
    </div>
    <script>
        
    </script>
</body>
</html>