<!-- 
 <!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>SCM2.0</title>
      <link rel="stylesheet" data-th-href="@{'/css/output.css/'}" />
      <link
        href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
        rel="stylesheet"
      />

 Not using this bcos of TAILWINDCSS -->
      <!-- <style>
        .container {
          margin: auto;
          width: 50%;
          padding: 30px;
          background-color: #e2e2e2;
        }
      </style> -->
    <!-- </head>
    <body>
      <div
        class="item-center p-4 mx-auto m-4 w-1/2 bg-gray-200 bg-clip-padding"
      >
        <h1 class="text-3xl font-serif font-bold">Welcome to Home Page</h1>
        <h2 class="text-sky-500 text-2xl" data-th-text="${name}"></h2>
        <p>GitHub Repo: <span th:text="${githubRepo}"></span></p>
        <a data-th-href="${githubRepo}">Click here to Open</a>
        <p>Hi i am kushagra</p>
        <button
          class="m-2 flex items-center px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            ></path>
          </svg>
          Click here
        </button>
      </div>
      <button
        type="button"
        class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
      >
        Dark
      </button>
      <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    </body>
  </html>
</html> -->
